<div class="flex text-white mt-4 items-center">
  <p>Ce site n'est pas affilié à</p>
  <a href="https://wolfy.net" target="_blank">
  <%= image_tag "https://wolfy.net/static/img/assets/logo.svg", alt: "Logo/lien wolfy", class: "h-6 w-6 ml-2" %>
</div>
