<div class="p-10 bg-slate-800 rounded-xl shadow-lg">
  <h1 class="text-4xl font-bold text-indigo-50 tracking-wide text-center">Wolfiak</h1>
  <div class="mt-7">
    <%= render "form" %>
    <%= render "sessions" %>
  </div>
</div>
